# pandas e csv

## Resumo

Quase sempre quando formos "ler" um arquivo csv, vamos usar o pandas. É prático e bem eficiente.

## Funcionamento

Forma mais básica: (muitas vezes não usaremos a forma mais básica)
dataframe = pd.read_csv(arquivo_com_extensao)

- Vamos ler um arquivo real, com a Base de Dados de Vendas da Empresa "Contoso"

In [1]:
import pandas as pd

In [3]:
vendas_df = pd.read_csv('Contoso - Vendas - 2017.csv', sep=';')
produtos_df = pd.read_csv('Contoso - Cadastro Produtos.csv', sep=';')

vendas_df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

In [ ]:
vendas_df = vendas_df.rename(columns={'Numero da Venda': 'num_venda',
                              'Data da Venda': 'dt_venda',
                              'Data do Envio': 'dt_envio',
                              'ID Canal': 'id_canal',
                              'ID Loja': 'id_loja',
                              'ID Produto': 'id_produto',
                              'ID Promocao': 'id_promocao',
                              'ID Cliente': 'id_cliente',
                              'Quantidade Vendida': 'qtd_vendida',
                              'Quantidade Devolvida': 'qtd_devolvida'})

vendas_df.head()

,num_venda,dt_venda,dt_envio,id_canal,id_loja,id_produto,id_promocao,id_cliente,qtd_vendida,qtd_devolvida
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1
1,2,01/01/2017,06/01/2017,5,308,1586,2,18469,9,1
2,3,01/01/2017,01/01/2017,0,294,1444,5,19730,13,1
3,4,01/01/2017,01/01/2017,0,251,1468,5,29326,6,1
4,5,01/01/2017,07/01/2017,6,94,1106,2,22617,4,1

In [ ]:
vendas_df[['num_venda', 'dt_venda', 'id_produto']]

        num_venda    dt_venda  id_produto
0               1  01/01/2017         981
1               2  01/01/2017        1586
2               3  01/01/2017        1444
3               4  01/01/2017        1468
4               5  01/01/2017        1106
...           ...         ...         ...
980637     980638  31/12/2017        2490
980638     980639  31/12/2017        2488
980639     980640  31/12/2017        2511
980640     980641  31/12/2017         436
980641     980642  31/12/2017        2510

[980642 rows x 3 columns]

In [ ]:
vendas_df['id_produto'][0]

981

In [ ]:
lista_clientes = vendas_df['id_cliente'].tolist()
lista_clientes

[6825,
 18469,
 19730,
 29326,
 22617,
 7910,
 11720,
 26558,
 32396,
 31290,
 30488,
 18561,
 25632,
 30401,
 36839,
 27645,
 7991,
 35762,
 24240,
 13399,
 27222,
 9899,
 13178,
 23285,
 27220,
 23613,
 27751,
 30742,
 10597,
 18835,
 14236,
 10188,
 32657,
 12781,
 24767,
 11620,
 10984,
 35373,
 24513,
 32258,
 30065,
 5852,
 13297,
 30694,
 6090,
 19387,
 33168,
 26865,
 2670,
 17716,
 9584,
 4689,
 17747,
 20073,
 14545,
 12488,
 22230,
 17128,
 29219,
 28559,
 24663,
 13911,
 12612,
 26222,
 26147,
 16508,
 27178,
 9044,
 34242,
 33448,
 30486,
 2817,
 13517,
 8503,
 32479,
 19562,
 9278,
 15000,
 11415,
 13507,
 18494,
 18327,
 5211,
 15331,
 14821,
 26928,
 27168,
 30262,
 12928,
 20897,
 15803,
 11818,
 11203,
 12802,
 20682,
 8731,
 22532,
 36137,
 26238,
 5655,
 15871,
 10597,
 20947,
 14155,
 18786,
 11590,
 27891,
 30784,
 33147,
 26626,
 16132,
 27986,
 17662,
 22832,
 31228,
 38434,
 4613,
 14970,
 17163,
 12249,
 31927,
 14894,
 9022,
 9300,
 19833,
 11357,
 16740,
 8064,
 17570,
 35216,
 19964,
 5245,
 28285,
 10136,
 6563,
 9617,
 9499,
 15516,
 19673,
 12140,
 15526,
 8446,
 6222,
 27917,
 35583,
 17977,
 23697,
 18623,
 25408,
 25687,
 25089,
 29422,
 30977,
 19513,
 28513,
 24303,
 12235,
 23735,
 18005,
 25225,
 23437,
 18190,
 14053,
 18211,
 8288,
 7242,
 34277,
 21280,
 24637,
 25535,
 8077,
 13040,
 11875,
 18968,
 11326,
 4322,
 13990,
 13871,
 31170,
 19931,
 9370,
 14717,
 18254,
 29081,
 26068,
 33203,
 23132,
 16727,
 5109,
 20873,
 13591,
 19046,
 7768,
 33347,
 6820,
 29341,
 9132,
 19591,
 5363,
 26507,
 12152,
 31696,
 18086,
 12610,
 17565,
 10910,
 12563,
 4091,
 5631,
 26115,
 17403,
 2896,
 30301,
 28107,
 18672,
 28088,
 10999,
 9804,
 14856,
 25646,
 29143,
 18036,
 20422,
 13369,
 2599,
 36286,
 26167,
 18751,
 29468,
 9306,
 18249,
 7158,
 10034,
 33598,
 23535,
 3658,
 12875,
 28538,
 28023,
 31575,
 18602,
 31123,
 24637,
 35096,
 32980,
 1416,
 4782,
 25157,
 17439,
 17002,
 22517,
 21620,
 10396,
 21709,
 31809,
 24584,
 11931,
 18697,
 31094,
 29082,
 27569,
 36692,
 23065,
 11452,
 7398,
 16204,
 24734,
 34728,
 11832,
 26417,
 13365,
 28547,
 4606,
 15917,
 7427,
 21063,
 26118,
 25439,
 36766,
 12377,
 29792,
 7697,
 33186,
 31779,
 32046,
 11513,
 14917,
 15847,
 4832,
 33584,
 9939,
 18202,
 22093,
 29503,
 6614,
 28548,
 13569,
 22234,
 24269,
 21826,
 16733,
 28572,
 25342,
 10129,
 13409,
 38657,
 20944,
 14570,
 19142,
 33399,
 37099,
 19074,
 28171,
 5667,
 26197,
 30007,
 10124,
 8295,
 28905,
 24571,
 15087,
 6325,
 18019,
 25489,
 28524,
 28896,
 28546,
 36011,
 25816,
 9507,
 7641,
 15264,
 8022,
 25660,
 23431,
 26952,
 15811,
 23887,
 27930,
 26221,
 13191,
 36408,
 27252,
 18334,
 9033,
 29437,
 14435,
 33361,
 27961,
 17280,
 33465,
 16759,
 31989,
 25389,
 14410,
 20641,
 29342,
 27500,
 14101,
 9551,
 29894,
 3366,
 14198,
 14036,
 19331,
 8775,
 8938,
 3161,
 11325,
 32677,
 29710,
 33360,
 32128,
 13987,
 12120,
 21204,
 4728,
 6947,
 25590,
 20514,
 15338,
 27328,
 8314,
 27418,
 37549,
 32137,
 22237,
 30030,
 28438,
 6430,
 20436,
 600,
 14657,
 31308,
 26463,
 11953,
 34153,
 17721,
 16712,
 15083,
 13743,
 24243,
 25272,
 27834,
 26480,
 2253,
 21935,
 20198,
 29283,
 19345,
 19070,
 14969,
 18654,
 10263,
 8281,
 13051,
 8198,
 17571,
 27573,
 4450,
 35317,
 24715,
 14270,
 10447,
 7498,
 26953,
 36427,
 11226,
 11062,
 26782,
 10459,
 15528,
 7493,
 30766,
 8924,
 22199,
 11392,
 17834,
 13237,
 32120,
 27950,
 16801,
 11409,
 24458,
 31399,
 29615,
 18521,
 11978,
 6746,
 28214,
 8058,
 26170,
 35644,
 22603,
 16429,
 17853,
 32000,
 24504,
 7128,
 12695,
 13309,
 10419,
 10351,
 7087,
 12974,
 9395,
 14789,
 5302,
 14889,
 27627,
 24953,
 22969,
 30040,
 3082,
 23458,
 23435,
 19758,
 21154,
 16806,
 31439,
 22265,
 6987,
 23653,
 14563,
 4486,
 19104,
 30586,
 19084,
 16700,
 26452,
 20177,
 2665,
 12188,
 6848,
 28660,
 5000,
 20376,
 35375,
 14013,
 24200,
 9188,
 27973,
 7424,
 20418,
 15459,
 21502,
 26231,
 28918,
 27701,
 14186,
 27856,
 3253,
 33098,
 13482,
 18382,
 25702,
 26500,
 31280,
 18876,
 33786,
 18845,
 17640,
 24986,
 15107,
 13238,
 28673,
 15021,
 27651,
 11207,
 26511,
 19192,
 19179,
 32673,
 24914,
 7373,
 22520,
 16746,
 30016,
 15145,
 25355,
 12297,
 21923,
 34807,
 20472,
 6849,
 18330,
 26056,
 12230,
 24240,
 12813,
 30219,
 15335,
 10936,
 12609,
 20209,
 18539,
 8872,
 30510,
 11101,
 24186,
 24873,
 8032,
 9516,
 10968,
 11196,
 13688,
 6768,
 11107,
 26361,
 18282,
 33705,
 17030,
 6353,
 16119,
 26384,
 26451,
 36177,
 17168,
 26125,
 20316,
 13155,
 34958,
 21646,
 9306,
 10753,
 28322,
 31822,
 11820,
 20839,
 9918,
 21151,
 12573,
 33067,
 16183,
 18703,
 10188,
 22707,
 28410,
 29440,
 25820,
 33023,
 15602,
 31508,
 30834,
 25408,
 12170,
 19789,
 13587,
 12716,
 20852,
 31093,
 8866,
 26566,
 22100,
 22867,
 11148,
 25754,
 5968,
 21105,
 17076,
 13024,
 19838,
 7497,
 11299,
 30050,
 36735,
 28015,
 25328,
 17190,
 17808,
 6382,
 10393,
 14329,
 4049,
 17902,
 4513,
 22500,
 21644,
 34786,
 17509,
 12861,
 32933,
 17367,
 7424,
 13143,
 28156,
 19250,
 25629,
 32598,
 6796,
 10851,
 30303,
 9305,
 6495,
 23230,
 8667,
 31894,
 12611,
 21189,
 13028,
 33486,
 17442,
 23524,
 23182,
 28683,
 27617,
 24553,
 14289,
 3424,
 30626,
 3108,
 4833,
 29829,
 8451,
 23569,
 11187,
 34908,
 6791,
 15965,
 23929,
 9542,
 27061,
 20791,
 12145,
 15221,
 24305,
 5674,
 36688,
 27801,
 2482,
 15558,
 17611,
 13842,
 13009,
 19795,
 25703,
 26491,
 14718,
 11340,
 16751,
 22176,
 8927,
 26800,
 24341,
 20973,
 36045,
 8357,
 16950,
 24466,
 10131,
 5721,
 23178,
 4391,
 32926,
 29572,
 17283,
 4361,
 30228,
 30725,
 8229,
 20803,
 24346,
 21307,
 14806,
 32342,
 18369,
 10128,
 4475,
 19043,
 9035,
 21399,
 26491,
 29804,
 29998,
 22169,
 34982,
 22104,
 20338,
 9189,
 25808,
 27541,
 14142,
 30812,
 29945,
 10428,
 3868,
 17635,
 16165,
 9648,
 32016,
 22785,
 32668,
 31299,
 11714,
 15085,
 28572,
 16672,
 10680,
 11259,
 8469,
 14982,
 25752,
 28079,
 15637,
 9386,
 31783,
 5875,
 8417,
 15420,
 30658,
 16134,
 28369,
 22180,
 28513,
 12692,
 24769,
 36397,
 8359,
 29952,
 3452,
 24664,
 665,
 26526,
 2669,
 21776,
 23765,
 2511,
 19470,
 23760,
 9731,
 13517,
 9487,
 22128,
 10058,
 8266,
 4822,
 16713,
 30969,
 11865,
 7312,
 9012,
 31737,
 8399,
 28349,
 22138,
 15708,
 19548,
 26281,
 27626,
 16461,
 6828,
 11040,
 9022,
 9983,
 33389,
 18222,
 26306,
 18217,
 31196,
 35580,
 32284,
 9274,
 22070,
 31920,
 26200,
 6993,
 18237,
 32411,
 34333,
 31803,
 7457,
 24816,
 9508,
 25254,
 22037,
 31365,
 30360,
 17731,
 27429,
 2685,
 31294,
 19894,
 33603,
 14473,
 13238,
 14680,
 17449,
 27572,
 20108,
 22369,
 35072,
 16872,
 23598,
 6172,
 14968,
 25176,
 10350,
 25279,
 21744,
 15578,
 18687,
 35111,
 7108,
 17155,
 29737,
 5981,
 29269,
 30021,
 37093,
 22268,
 25246,
 3310,
 30177,
 31556,
 14512,
 30274,
 4371,
 10497,
 8766,
 25220,
 14077,
 28696,
 30110,
 25830,
 17592,
 32248,
 28033,
 20559,
 32461,
 21283,
 27571,
 31296,
 2308,
 10100,
 29052,
 3022,
 28748,
 10282,
 32073,
 16989,
 26098,
 15555,
 32055,
 22348,
 26332,
 35772,
 29687,
 12920,
 16297,
 37893,
 12775,
 18238,
 7401,
 21457,
 19532,
 18802,
 12156,
 13949,
 21368,
 23019,
 10523,
 32965,
 7039,
 22385,
 12862,
 33499,
 16216,
 10311,
 27254,
 2394,
 11321,
 15230,
 30219,
 12788,
 19743,
 18999,
 27701,
 18897,
 16808,
 17987,
 28291,
 33072,
 1935,
 23631,
 14101,
 16363,
 31996,
 20166,
 21382,
 16346,
 10114,
 9954,
 22750,
 32337,
 1341,
 20923,
 21203,
 18579,
 23503,
 28887,
 17184,
 11150,
 34182,
 16832,
 21543,
 13509,
 24652,
 19602,
 3292,
 21067,
 10093,
 25368,
 29092,
 20069,
 19271,
 35966,
 11642,
 26153,
 16275,
 16993,
 12382,
 17923,
 21796,
 17757,
 32734,
 5028,
 10939,
 34896,
 19410,
 10978,
 24940,
 8953,
 12706,
 5828,
 21349,
 23098,
 15574,
 20063,
 19564,
 19986,
 ...]

In [ ]:
df_produtos_qtd = vendas_df[['id_produto', 'qtd_vendida', 'qtd_devolvida']]
df_produtos_qtd

        id_produto  qtd_vendida  qtd_devolvida
0              981            9              1
1             1586            9              1
2             1444           13              1
3             1468            6              1
4             1106            4              1
...            ...          ...            ...
980637        2490          120              0
980638        2488          120              0
980639        2511           80              0
980640         436           39              0
980641        2510           80              0

[980642 rows x 3 columns]